
//计算rem
$rem:75px;//(750/10)
//px换算rem
@function ptor($px){
	@return $px / $rem * 1rem;
}
//背景图和图片路径--可改为绝对路径
$imgurl:'../../image/';
//记录最小font-size
$fontSize: 12px;
//滚动图个数
$sliderLength:4;

html{
	min-width: 320px;
	min-height: 100%;
}
body{
	min-width: 320px;
    font-size: pxTorem($fontSize);
    min-height:100%;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd {
  margin: 0;
  padding: 0px;
  font-size:$fontSize;
  -webkit-text-size-adjust: 100%;
  font-family: "Microsoft YaHei",Helvetica;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
em{
	font-style: normal;
}
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /*
  -webkit-appearance: none;
  */
  outline: none;
}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}
img{
	padding: 0px;
	margin: 0px;
	display: block;
}
//设置公共的清除浮动方法
@mixin beforeAfter(){
	&:before,
	&:after{
		content:"";
		display: block;
	};
	&:after{
		clear:both;
	}
}
.bgGrayColor{
	background-color:#f3f5f7;
}
.indexLogin{
	width: ptor(655px);
	margin: 0 auto;
	padding-top: ptor(200px);
	border-radius: ptor(8px);
}
.indexLogin .logo{

}
.indexLogin .logo img{
	width: ptor(430px);
	margin: 0 auto;
}
.indexLogin .loginForm{
	margin-top: ptor(100px);
}
.indexLogin .loginLine{
	height: ptor(52px);
	line-height: ptor(52px);
	padding: ptor(23px) ptor(30px) ;
	background-color: #fff;
	font-size: ptor(24px);
	line-height: ptor(44px);
	border-radius: ptor(8px);
	color: #313131;
}
.indexLogin .loginLine input{
	border: none;
	outline: none;
	font-size: ptor(24px);
}
.indexLogin .loginLine i{
	top: 0px;
	left: 0px;
	position: absolute;
	width: ptor(44px);
	height: ptor(44px);
	background-image: url('#{$imgurl}appBG.png');
	background-repeat: no-repeat;
	background-size: ptor(300px) auto;
}
.indexLogin .loginLine span{
	position: relative;
	height: ptor(44px);
	line-height: ptor(44px);
	width: ptor(80px);
	padding-left: ptor(60px);
	display: inline-block;
}
.indexLogin .loginLine.inCheck span{
	width: ptor(120px);
}
.indexLogin .loginLine.inUser input,.indexLogin .loginLine.inPass input{
	width: ptor(405px);
}
.indexLogin .loginLine.inCheck input{
	width: ptor(150px);
}
.indexLogin .loginLine .getCheckNum{
	float: right;
}
.indexLogin .loginLine.inUser i{
	background-position: ptor(0px) ptor(-55px);
}
.indexLogin .loginLine.inPass i{
	background-position: ptor(0px) ptor(-0px);
	
}
.indexLogin .loginLine.inCheck i{
	background-position: ptor(0px) ptor(-111px);
	
}
.indexLogin .getCheckNum em{
	height: ptor(52px);
}
.indexLogin .getCheckNum a{
	margin-left: ptor(15px);
	color: #0062b2;
}
.indexLogin .inRecord{

	font-size: ptor(24px);
	height: ptor(30px);
	line-height: ptor(30px);
	margin-bottom: ptor(200px);
}
.indexLogin .inRecord input{
	width: ptor(28px);
	height: ptor(28px);
	line-height: ptor(28px);
	border-radius: ptor(4px);
	border:ptor(1px) #707070 solid;
	vertical-align: top;
	margin: 0;
	background-color: white;
}
.indexLogin .inSub input{
	height: ptor(98px);
	line-height: ptor(98px);
	width: 100%;
	background: url('#{$imgurl}loginSub.png') 0 0 repeat;
	background-size: ptor(656px) auto;
	border: 0;
	color: white;
	font-size: ptor(32px);
	border-radius: ptor(8px);
} 

//bottom样式 start
.comBottom{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #ffffff;
	margin-top: ptor(-88px);
}
.commonBottom{
    height: ptor(98px);
	width: ptor(695px);
	margin: 0 auto;
}
.comBonLogo{
	height: ptor(98px);
	line-height: ptor(98px);
	display: flex;
	justify-content:center;
	align-items:Center;
	float: left;
	margin-left: ptor(3px);
}
.commonBottom img{
	width: ptor(80px);
}
.commonBottom ul{
	float: left;
	display: flex;
	justify-content: center;
	align-items: Center;
}
.commonBottom ul li{
	width: ptor(44px);
	height: ptor(98px);
	float: left;
	margin-left: ptor(107px);
	display: flex;
	justify-content: center;
	align-items: Center;
}
.commonBottom ul li:first-child{
	margin-left: ptor(88px) !important;
}
.commonBottom ul li a{
    display: block;
	text-align: center;
}
.commonBottom ul li a img{
	width: ptor(44px);
}
.commonBottom ul li a span{
	color: #313131;
	font-size: ptor(20px);
	margin-top: ptor(5px);
}
//bottom样式 end

//服务页面样式,我的页面样式,公告页面样式,首页页面样式 start
.serviceBody,.myBody,.noticeShowBody,.homeBody{
	background-color: #f3f5f7;
}
.noticeBody{
	background:linear-gradient(top,#f3f5f7,#dedede);
	background:-webkit-linear-gradient(top,#f3f5f7,#dedede);
	background:-moz-linear-gradient(top,#f3f5f7,#dedede);
}
.serviceContainer,.myContainer,.noticeContainer,.noticeShowContainer,.homeContainer{
	position: relative;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	min-height: 100%;
}
.servieCon,.myCon,.noticeCon,.noticeShowCon,.homeShowCon{
	padding-bottom: ptor(88px);
	overflow: hidden;
}
.serviceTop,.myTop,.noticeShowTop{
	width: 100%;
	height: ptor(88px);
	line-height: ptor(88px);
	font-size: ptor(44px);
	text-align: center;
	color: #ffffff;
	background:linear-gradient(left,#5db6ff,#0062b2);
	background:-webkit-linear-gradient(left,#5db6ff,#0062b2);
	background:-moz-linear-gradient(left,#5db6ff,#0062b2);
}
.serviceContent,.myContent{
	width: 100%;
	background-color: #ffffff;
	margin-top: ptor(20px);
}
.serviceContent ul,.myContent ul{
	width: ptor(693px);
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}
.serviceContent ul li,.myContent ul li{
	width: ptor(693px);
	height: ptor(90px);
	line-height: ptor(90px);
	border-top: 1px solid #dcdcdc;
}
.serviceContent ul li:first-child,.myContent ul li:first-child{
	border-top: none;
}
.serviceContent ul li img,.serviceContent ul li p,.serviceContent ul li i,.myContent ul li img,.myContent ul li p,.myContent ul li i{
	display: block;
}
.serviceContent ul li img,.serviceContent ul li p,.myContent ul li img,.myContent ul li p{
	float: left;
}
.serviceContent ul li img,.myContent ul li img{
	width: ptor(42px);
}
.serviceContent ul li a,.myContent ul li a{
	display: flex;
	align-items:Center;
}
.serviceContent ul li a p,.myContent ul li a p{
	font-size: ptor(26px);
	margin-left: ptor(20px);
	color: #313131;
}
.serviceContent ul li i,.myContent ul li i{
	width: ptor(11px);
	height: ptor(18px);
	float: right;
	background-image: url('#{$imgurl}service-03.png');
	background-repeat: no-repeat;
	background-size: ptor(11px) auto;
	margin-left: auto
}
.noticeLeft{
	width: ptor(180px);
	height: auto;
	float: left;
	margin-top: ptor(30px);
}
.noticeLeft p{
	width: ptor(180px) !important;
    height: ptor(70px);
	text-align: center;
	color: #0062b2;
	font-size: ptor(26px);
}
.noticeLeft ul{
	overflow: hidden;
	background-color: #ffffff;
}
.noticeLeft ul li{
    width: ptor(180px);
	height: ptor(100px);
	line-height: ptor(100px);
	text-align: center;
	font-size: ptor(24px);
	float: left;
	border-top: 1px solid #dcdcdc;
}
.noticeLeft ul li:first-child{
	border-top: none;
}
.noticeRight{
	width: ptor(530px);
	height: auto;
	float: left;
	margin-left: ptor(20px);
	margin-top: ptor(30px);
}
.nrImg,.nrImg img{
	width: ptor(530px);
	height: ptor(180px);
}
.nrList{
	width: ptor(530px);
	height: auto;
	margin-top: ptor(20px);
}
.nrList ul{
	overflow: auto;
	margin-top: ptor(30px);
	background-color: #ffffff;
}
.nrList ul li{
	float: left;
	width: 100%;
	height: ptor(58px);
	line-height: ptor(58px);
	border-top: 1px solid #dcdcdc;
}
.nrList ul li:first-child{
	border-top: none;
}
.nrList ul li p,.nrList ul li span{
	display: block;
	float: left;
}
.nrList ul li p{
	font-size: ptor(20px);
	color: #313131;
	margin-left: ptor(20px);
	width: ptor(350px);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.nrList ul li span{
	margin-left: ptor(30px);
	font-size: ptor(18px);
	color: #8a8a8a;
}
//服务页面样式,我的页面样式,公告页面样式,首页页面样式 end
//公告展示页面样式 start
.noticeShowTop i{
	width: ptor(17px);
	height: ptor(32px);
	float: left;
	background-image: url('#{$imgurl}noticeShow-01.png');
	background-repeat: no-repeat;
	background-size: ptor(17px) auto;
	margin-top: ptor(28px);
	margin-left: ptor(30px);
}
.noticeShowTop p{
	width: ptor(602px);
	text-align: center;
	font-size: ptor(44px);
	color: #ffffff;
	float: left;
	line-height: ptor(88px) !important;
}
.noticeShowTop span{
	display: block;
	float: left;
	height: ptor(26px);
	line-height: ptor(26px) !important;
	margin-top: ptor(44px);
	font-size: ptor(24px);
	color: #ffffff;
}
.noticeShowCo{
	width: 100%;
	height: auto;
	margin-top: ptor(20px);
	background-color: #ffffff;
}
.nsc-title{
	width: ptor(618px);
	margin: 0 auto;
    font-size: ptor(28px);
	color: #313131;
	font-weight: bold;
}
.nsc-c{
	width: ptor(618px);
	overflow: hidden;
	margin: 0 auto;
	margin-top: ptor(28px);
}
.nsc-c p{
	width: auto;
	min-width: ptor(100px) !important;
}
.nsc-c span{
	width: auto;
	max-width: ptor(500px);
}
.nsc-c p,.nsc-c span{
	font-size: ptor(20px);
	color: #8a8a8a;
	display: block;
	float: left;
}
//公告展示页面样式 end
//首页页面样式 start
.adv,.adv img{
	width: ptor(751px);
	height: ptor(320px);
}
.homeNav{
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #ffffff;
	padding-bottom: ptor(20px);
}
.homeNav ul{
	width: ptor(697px);
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	display: flex;
}
.homeNav ul li{
	flex: 1;
	width: ptor(150px);
	text-align: center;
	margin-top: ptor(20px);
}
.homeNav ul li a{
	display: block;
	text-align: center;
}
.homeNav ul li img{
	width: ptor(86px);
	display: inline !important;
}
.homeNav ul li a span{
	margin-top: ptor(10px);
	color: #313131;
	display: block;
	font-size: ptor(22px);
}
.homeList{
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #ffffff;
	margin-top: ptor(20px);
	margin-bottom: ptor(20px);
}
.homeList ul{
	width: ptor(697px);
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}
.homeList ul li{
	float: left;
	height: ptor(56px);
	line-height: ptor(56px);
}
.homeList ul li span{
	display: block;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.con{
	width: ptor(320px);
	font-size: ptor(22px);
	color: #313131;
}
.company{
	width: ptor(267px);
	color: #8a8a8a;
	font-size: ptor(20px);
	margin-left: ptor(26px);
}
.date{
	width: ptor(55px);
	color: #8a8a8a;
	font-size: ptor(20px);
	margin-left: ptor(26px);
}
//首页页面样式 end
.marginB30{
	margin-bottom: ptor(30px);
	margin-left: ptor(28px);
}

.marginB20{
	margin-bottom: ptor(20px);
}
.marginL0{
	margin-left: ptor(1px) !important;
}
.marginL50{
	margin-left: ptor(50px) !important;
}
.marginL29{
	margin-left: ptor(29px) !important;
}
.marginL27{
	margin-left: ptor(27px) !important;
}
